#left {
  width: 50%;
  float: left;
}

#right {
  width: 50%;
  float: right;
}

p {
  background-color: #f2f2f2;
  /* grey background color */
  width: 100%;
  /* container spans half of the page */
  float: none;
  /* aligns container to the left */
  padding: 20px;
  /* adds padding inside the container */
  box-sizing: border-box;
  /* includes padding in the container's width */
  color: #000;
  /* black text color */
  font-size: 16px;
  /* font size of paragraph text */
  line-height: 1.5;
  /* line height of paragraph text */
}

#allmembers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

}

.member {
  flex-basis: calc(35% - 20px);
  margin-bottom: 20px;
  text-align: center;
}

.member img {
  display: block;
  max-width: 70%;
  height: auto;
  margin: 0 auto 5px;
  /* or any other value as per your requirements */
  border-radius: 10%;
  /* or any other value as per your requirements */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  /* or any other value as per your requirements */
<<<<<<< HEAD
}


=======
}
>>>>>>> 6ac2f5803346086ed47d035c69c8badb5ced8225
