#left {
  width: 50%;
  float: left;
}

#right {
  width: 50%;
  float: right;
}

/* .about-container {
  position: relative;
  width: 200px;
  height: 250px;
  margin-right: 10px;
} */

/* #allmembers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.member {
  margin: 10px;
  text-align: center;
} */

/* #allmembers img {
  width: 20%;
  height: 10%;
} */
p {
    background-color: #f2f2f2; /* grey background color */
    width: 100%; /* container spans half of the page */
    float: none; /* aligns container to the left */
    padding: 20px; /* adds padding inside the container */
    box-sizing: border-box; /* includes padding in the container's width */
    color: #000; /* black text color */
    font-size: 16px; /* font size of paragraph text */
    line-height: 1.5; /* line height of paragraph text */
}

#allmembers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* or any other value as per your requirements */
  align-items: center;
  /* or any other value as per your requirements */
}

.member {
  flex-basis: calc(20% - 20px);
  /* or any other value as per your requirements */
  margin-bottom: 20px;
  /* or any other value as per your requirements */
  text-align: center;
}

.member img {
  display: block;
  max-width: 70%;
  height: auto;
  margin: 0 auto 5px;
  /* or any other value as per your requirements */
  border-radius: 10%;
  /* or any other value as per your requirements */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  /* or any other value as per your requirements */
}
