#left {
  width: 50%;
  float: left;
}

#right {
  width: 50%;
  float: right;
}

#allmembers {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.member {
  margin: 10px;
  text-align: center;
}
